@import "tailwindcss";

:root {
  --background: #fffefe;
  --foreground: #171717;

  --radius-xs: 8px;
  --radius-s: 16px;
  --radius-m: 24px;

  --size-xs: 24px;
  --size-s: 32px;
  --size-m: 48px;
  --size-l: 56px;
  --size-xl: 64px;

  --white-50: #fffefe;
  --white-100: #fdfdfd;
  --white-200: #fdfcfc;
  --white-300: #fcfbfb;
  --white-400: #fbfafa;
  --white-500: #faf9f9;
  --white-600: #e4e3e3;
  --white-700: #b2b1b1;
  --white-800: #8a8989;
  --white-900: #696969;

  --mint-50: #f9fcfb;
  --mint-100: #ebf6f4;
  --mint-200: #e1f2ee;
  --mint-300: #d3ece7;
  --mint-400: #cbe9e2;
  --mint-500: #bee3db;
  --mint-600: #adcfc7;
  --mint-700: #87a19b;
  --mint-800: #697d78;
  --mint-900: #505f5c;

  --teal-50: #eef2f2;
  --teal-100: #c9d8d7;
  --teal-200: #afc5c4;
  --teal-300: #8baba9;
  --teal-400: #8baba9;
  --teal-500: #52817e;
  --teal-600: #4b7573;
  --teal-700: #3a5c59;
  --teal-800: #2d4745;
  --teal-900: #223635;

  --slate-50: #eeeff1;
  --slate-100: #caccd2;
  --slate-200: #b1b4bc;
  --slate-300: #8d919e;
  --slate-400: #777c8b;
  --slate-500: #555b6e;
  --slate-600: #4d5364;
  --slate-700: #3c414e;
  --slate-800: #3c414e;
  --slate-900: #24262e;

  --peach-50: #fffaf8;
  --peach-100: #ffefea;
  --peach-200: #ffe8df;
  --peach-300: #ffddd1;
  --peach-400: #ffd6c8;
  --peach-500: #ffccba;
  --peach-600: #e8baa9;
  --peach-700: #b59184;
  --peach-800: #8c7066;
  --peach-900: #6b564e;

  /* --white-50: ;
  --white-100: ;
  --white-200: ;
  --white-300: ;
  --white-400: ;
  --white-500: ;
  --white-600: ;
  --white-700: ;
  --white-800: ;
  --white-900: ; */
}

@layer base {
}

@layer components {
}

@theme {
  --font-primary: "Helvetica Neue", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-primary: var(--slate-900);
  --color-text-secondary: var(--slate-600);
  --color-text-tertiary: var(--slate-400);
  --color-text-disabled: var(--slate-200);
  --color-text-inverse: #ffffff;
  --color-text-error: #ad1717;

  --color-bg: var(--background);
  --color-card-bg: var(--color-bg);
  --color-card-border: var(--white-600);

  --color-button-primary-text: var(--color-text-inverse);
  --color-button-primary-bg-default: var(--slate-700);
  --color-button-primary-bg-hover: var(--slate-500);
  --color-button-primary-bg-active: var(--slate-400);

  --color-button-secondary-border: var(--slate-100);
  --color-button-secondary-text: var(--color-text-primary);
  --color-button-secondary-bg-default: var(--white-50);
  --color-button-secondary-bg-hover: var(--white-500);
  --color-button-secondary-bg-active: var(--slate-50);

  --color-button-tertiary-text: var(--color-text-primary);
  --color-button-tertiary-bg-default: transparent;
  --color-button-tertiary-bg-hover: var(--color-button-secondary-bg-hover);
  --color-button-tertiary-bg-active: var(--color-button-secondary-bg-active);

  --color-button-toggle-border-default: var(--slate-100);
  --color-button-toggle-border-active: var(--mint-600);
  --color-button-toggle-text: var(--color-text-primary);
  --color-button-toggle-bg-default: var(--white-300);
  --color-button-toggle-bg-hover: var(--mint-50);
  --color-button-toggle-bg-active: var(--mint-200);
  --color-button-toggle-bg-down: var(--mint-400);

  --color-input-border-default: var(--color-input-bg-default);
  --color-input-border-hover: var(--white-600);
  --color-input-border-invalid: var(--color-error-text);
  --color-input-border-active: var(--mint-600);
  --color-input-bg-default: var(--white-500);
  --color-input-bg-active: var(--mint-50);
  --color-input-text-invalid: var(--color-text-error);

  --color-sidebar-item-bg-default: transparent;
  --color-sidebar-item-bg-hover: var(--mint-50);
  --color-sidebar-item-bg-active: var(--mint-100);
  --color-sidebar-item-bg-down: var(--mint-400);
  --color-sidebar-item-text: var(--color-text-primary);
  --color-sidebar-item-icon: var(--slate-300);

  --color-button-icon-bg-default: var(--color-button-primary-bg-default);
  --color-button-icon-bg-hover: var(--color-button-primary-bg-hover);
  --color-button-icon-bg-active: var(--color-button-primary-bg-active);
  --color-button-icon-text: var(--color-button-primary-text);

  --color-modal-bg: var(--color-background);
  --color-modal-border: var(--white-600);

  --color-card-bg: var(--color-bg);
  --color-card-border: var(--white-600);

  --color-dropdown-item-bg-hover: var(--white-500);
  --color-dropdown-item-text: var(--color-text-secondary);
  --color-dropdown-item-icon: var(--color-text-secondary);

  --shadow: 0 4px 16px 0 rgba(119, 124, 139, 0.16);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: "Helvetica Neue";
}

body {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 24px;
}

label {
  font-family: "Helvetica Neue";
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
  letter-spacing: -0.352px;
}

h2 {
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  letter-spacing: -0.264px;
}

h4 {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

h6 {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

th {
  text-align: start;
}

.ToggleGroupItem[data-state="on"] {
  background-color: #28a4b1;
  color: white;
}

.clickable {
  cursor: pointer;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
