@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
}

@layer components {
}

@theme {
  --font-primary: Inter;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: Inter;
}

body {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
}

label {
  font-family: Inter;
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
  letter-spacing: -0.352px;
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  letter-spacing: -0.264px;
}

h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

th {
  text-align: start;
}

.ToggleGroupItem[data-state="on"] {
  background-color: #28a4b1;
  color: white;
}
